USE [master]
GO
/****** Object:  Database [AlbDirectDebitOnline]    Script Date: 6/22/2020 10:52:01 AM ******/
CREATE DATABASE [AlbDirectDebitOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlbDirectDebitOnline', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL14.LAWERALBERTSQL\MSSQL\DATA\AlbDirectDebitOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlbDirectDebitOnline_log', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL14.LAWERALBERTSQL\MSSQL\DATA\AlbDirectDebitOnline_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlbDirectDebitOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlbDirectDebitOnline]
GO
/****** Object:  Table [dbo].[bank_branches]    Script Date: 6/22/2020 10:52:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Bank_Id] [int] NULL,
	[SortCode] [varchar](6) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banks]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[bankCode] [varchar](50) NULL,
	[Description] [varchar](150) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_banks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormFunds]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFunds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormMasterCode] [varchar](50) NULL,
	[Fund] [varchar](50) NULL,
	[Amount] [decimal](12, 2) NULL,
	[Charge] [decimal](12, 2) NULL,
	[Total] [decimal](12, 2) NULL,
 CONSTRAINT [PK_FormFunds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormMaster]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MasterId] [varchar](50) NULL,
	[InstructionType] [varchar](50) NULL,
	[Title] [varchar](4) NULL,
	[FirstName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[PostalAddress] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[MobileNumber] [varchar](50) NULL,
	[DatabankAccountNumber] [varchar](50) NULL,
	[TrnxCharge] [decimal](12, 2) NULL,
	[Frequency] [varchar](50) NULL,
	[DateOfFirstDeduction] [date] NULL,
	[DayOfFirstDeduction] [int] NULL,
	[MonthOfFirstDeduction] [varchar](50) NULL,
	[YearOfFirstDeduction] [int] NULL,
	[EndOfDeduction] [date] NULL,
	[BankName] [varchar](50) NULL,
	[BankBranch] [varchar](50) NULL,
	[BankAccountNumber] [varchar](50) NULL,
	[BankAccountName] [varchar](50) NULL,
	[BankAccountType] [varchar](50) NULL,
	[ApproverId] [int] NULL,
	[StatusOne] [bit] NULL,
	[StatusTwo] [bit] NULL,
	[StatusThree] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_FormMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormSignatures]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormSignatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormMasterCode] [varchar](50) NULL,
	[Path] [varchar](225) NULL,
 CONSTRAINT [PK_FormSignatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[frequency]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frequency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_frequency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funds]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](150) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_funds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/22/2020 10:52:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](300) NULL,
	[email] [varchar](350) NULL,
	[username] [varchar](250) NULL,
	[role_id] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bank_branches] ON 

INSERT [dbo].[bank_branches] ([Id], [Name], [Bank_Id], [SortCode]) VALUES (1, N'OSU WATSON BRANCH', 1, N'280105')
INSERT [dbo].[bank_branches] ([Id], [Name], [Bank_Id], [SortCode]) VALUES (2, N'KUMASI ASAFO BRANCH', 1, N'280601')
INSERT [dbo].[bank_branches] ([Id], [Name], [Bank_Id], [SortCode]) VALUES (3, N'LASHIBI BRANCH', 1, N'280104')
GO
SET IDENTITY_INSERT [dbo].[bank_branches] OFF
SET IDENTITY_INSERT [dbo].[banks] ON 

INSERT [dbo].[banks] ([Id], [Name], [bankCode], [Description], [Status]) VALUES (1, N'ACCESS BANK (GH) LTD', N'300329', NULL, NULL)
INSERT [dbo].[banks] ([Id], [Name], [bankCode], [Description], [Status]) VALUES (2, N'ADB BANK GH LTD', N'300307', NULL, NULL)
INSERT [dbo].[banks] ([Id], [Name], [bankCode], [Description], [Status]) VALUES (3, N'APEX BANK GH LTD', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[banks] OFF
SET IDENTITY_INSERT [dbo].[FormFunds] ON 

INSERT [dbo].[FormFunds] ([Id], [FormMasterCode], [Fund], [Amount], [Charge], [Total]) VALUES (1, N'99620200618-070715', N'ArkFund', CAST(100.00 AS Decimal(12, 2)), CAST(3.00 AS Decimal(12, 2)), CAST(103.00 AS Decimal(12, 2)))
INSERT [dbo].[FormFunds] ([Id], [FormMasterCode], [Fund], [Amount], [Charge], [Total]) VALUES (2, N'99620200618-070715', N'MFund', CAST(150.00 AS Decimal(12, 2)), CAST(3.00 AS Decimal(12, 2)), CAST(153.00 AS Decimal(12, 2)))
INSERT [dbo].[FormFunds] ([Id], [FormMasterCode], [Fund], [Amount], [Charge], [Total]) VALUES (3, N'85320200618-072519', N'BFund', CAST(1500.00 AS Decimal(12, 2)), CAST(3.00 AS Decimal(12, 2)), CAST(1503.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[FormFunds] OFF
SET IDENTITY_INSERT [dbo].[FormMaster] ON 

SET IDENTITY_INSERT [dbo].[FormMaster] OFF
SET IDENTITY_INSERT [dbo].[FormSignatures] ON 

INSERT [dbo].[FormSignatures] ([Id], [FormMasterCode], [Path]) VALUES (1, N'99620200618-070715', N'/imageUpload/99620200618-070715/albAsset 3.png')
INSERT [dbo].[FormSignatures] ([Id], [FormMasterCode], [Path]) VALUES (2, N'99620200618-070715', N'/imageUpload/99620200618-070715/bookbeesgh.png')
INSERT [dbo].[FormSignatures] ([Id], [FormMasterCode], [Path]) VALUES (3, N'85320200618-072519', N'/imageUpload/85320200618-072519/WhatsApp Image 2020-03-14 at 5.53.29 AM.jpeg')
SET IDENTITY_INSERT [dbo].[FormSignatures] OFF
SET IDENTITY_INSERT [dbo].[frequency] ON 

INSERT [dbo].[frequency] ([Id], [Name], [status]) VALUES (1, N'Monthly', NULL)
INSERT [dbo].[frequency] ([Id], [Name], [status]) VALUES (2, N'Quarterly', NULL)
SET IDENTITY_INSERT [dbo].[frequency] OFF
SET IDENTITY_INSERT [dbo].[funds] ON 

INSERT [dbo].[funds] ([Id], [Name], [Description], [status]) VALUES (1, N'ArkFund', NULL, NULL)
INSERT [dbo].[funds] ([Id], [Name], [Description], [status]) VALUES (2, N'BFund', NULL, NULL)
INSERT [dbo].[funds] ([Id], [Name], [Description], [status]) VALUES (3, N'EdiFund T1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[funds] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [name], [email], [username], [role_id], [status]) VALUES (1, N'Albert Lawer', N'albert.lawer@databankgroup.com', N'albert.lawer@databankgroup.com', NULL, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[bank_branches]  WITH CHECK ADD  CONSTRAINT [FK_bank_branches_banks] FOREIGN KEY([Bank_Id])
REFERENCES [dbo].[banks] ([Id])
GO
ALTER TABLE [dbo].[bank_branches] CHECK CONSTRAINT [FK_bank_branches_banks]
GO
USE [master]
GO
