


            <!-- ============ Body content start ============= -->
            <div class="main-content">
                <div class="breadcrumb">
                    <h1>Payment Types</h1>
                    <ul>
                        <li>New Payment Type</li>
                    </ul>
                </div>
                <div class="separator-breadcrumb border-top"></div>
                <!-- end of row-->
                <div class="row">
                	<div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title mb-3">New Payment Type</div>
                                <%= render 'form' %>
                            </div>
	                    </div>
	                </div>
                </div>
            </div>
            
